*{margin:0;padding:0;box-sizing:border-box;}

body{font-family:Arial;background:#f4f4f4;}

header{
    display:flex;
    justify-content:space-between;
    padding:15px 40px;
    background:#111;
    color:white;
}

.logo{color:orange;font-size:22px;}

nav a{
    color:white;
    margin-left:15px;
    text-decoration:none;
}

.hero{
    height:90vh;
    background:url('../images/bg.jpg') center/cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
}

.btn-main{
    background:orange;
    padding:10px 20px;
    margin-top:20px;
}

.cars-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:40px;
}

.car-card{
    background:white;
    border-radius:10px;
    text-align:center;
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

.car-card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.btn-buy{
    display:inline-block;
    margin:10px;
    padding:10px;
    background:black;
    color:white;
}

.login-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    background:white;
    padding:20px;
    width:300px;
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:10px;
}